<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter The Details here</p>
		<p>Shop Code</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="ShopCode"></textarea>
		<p>Shop Name</p>
		<textarea name="ShopName"></textarea>
		<p>Urgency</p>
		<textarea name="Urgency"></textarea>

		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	
	

</body>
</html>
